[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pydantic = "*"
uvicorn = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
pytest = "*"
faker = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
